<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Nina La Rosa" />
  <title> {% if page.title %} {{ page.title }} - {% endif %} Nina La Rosa &#8211; Mental Health Counseling</title>
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
  <script type="text/javascript" src="/javascripts/modernizr.custom.56321.js"></script>
</head>
<body>
  <div id="main">
    <header class="alpha75">
      <nav role="navigation">
        <ul>
          <li><a href="/">Welcome</a></li>
          <li><a href="/mindfulness">Mindfulness</a></li>
          <li><a href="/expectations">What to Expect</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <h2>Nina La Rosa<span class="light"> Mental Health Counseling</span></h2>
    </header>
    <section class="alpha75">
      {{ content }}
    </section>
    <footer>
      <p>&copy; Nina La Rosa &#8211; Mental Health Counseling 2012 | All Rights Reserved. </p>
    </footer>
  </div>
</body>
</html>
